<div class="mdl-grid demo-content">
  <div class="demo-charts mdl-color--white mdl-shadow--2dp">
    <form class="mdl-cell mdl-cell--12-col mdl-grid" method="post" action="/upsert">
      {{#if order}}
      <input type="hidden" name="id" value="{{order.id}}" />
      {{/if}}
        
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Enter your username:</h2>
          </div><br>
          <input class="mdl-textfield__input" type="text" name="username" id="username" value="{{order.username}}">
          <label class="mdl-textfield__label" for="sample1">Username...</label>
        </div>

        {{!-- Environment --}}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Choose the test environment:</h2>
          </div>
          {{!-- <input class="mdl-textfield__input" type="text" name="environment" id="environment" value="{{order.environment}}"> --}}
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="desktop">
            <input class="mdl-radio__button" id="desktop" name="environment" type="radio" value = "Desktop" {{setChecked order.environment 'Desktop'}}>
            <span class="mdl-radio__label">Desktop</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="cell-phone">
            <input class="mdl-radio__button" id="cell-phone" name="environment" type="radio" value = "Cell Phone" {{setChecked order.environment 'Cell Phone'}}>
            <span class="mdl-radio__label">Cell Phone</span>
          </label>
          {{!-- <label class="mdl-textfield__label" for="sample1">Environment...</label> --}}
        </div>
        <br>


        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" pattern="[0-9]*(\.[0-9]+)?" name="advertiser_id" id="advertiser_id" value="{{order.advertiser_id}}">
          <label class="mdl-textfield__label" for="sample1">Advertiser ID...</label>
          <span class="mdl-textfield__error">Must be a positive integer</span>
        </div>
        <br>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="advertiser_name" id="advertiser_name" value="{{order.advertiser_name}}">
          <label class="mdl-textfield__label" for="sample1">Advertiser Name...</label>
        </div>
        <br>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" pattern="[A-Z]{2}$" name="locale" id="locale" value="{{order.locale}}">
          <label class="mdl-textfield__label" for="sample1">Locale...</label>
          <span class="mdl-textfield__error">Must be two capital letters</span>
        </div>
        <br>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" pattern="[0-9]*(\.[0-9]+)?" name="trv_price" id="trv_price" value="{{order.trv_price}}">
          <label class="mdl-textfield__label" for="sample1">TRV Price...</label>
          <span class="mdl-textfield__error">Must be a positive integer</span>
        </div>
        <br>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" pattern="[0-9]*(\.[0-9]+)?" name="lp_price" id="lp_price" value="{{order.lp_price}}">
          <label class="mdl-textfield__label" for="sample1">LP Price...</label>
          <span class="mdl-textfield__error">Must be a positive integer</span>
        </div>
        <br>
      
      <div class="mdl-card__actions">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored mdl-button--raised">
          {{#if order}}Save{{else}}Create{{/if}}
        </button>
        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/">Cancel</a>
      </div>
    </form>
  </div>
</div>